In [199]:
import numpy as np
import pandas as pd
import matplotlib

In [200]:
a_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Finland'],
    'Population (M)': [82.8, 67.2, 11.4, 5.5],
    'Capital': ['Berlin', 'Paris', 'Brussels', 'Helsinki']
})
a_df

   Country  Population (M)   Capital
0  Germany            82.8    Berlin
1   France            67.2     Paris
2  Belgium            11.4  Brussels
3  Finland             5.5  Helsinki

In [201]:
b_df = pd.DataFrame({
    'Country': ['Germany', 'France', 'Belgium', 'Canada'],
    'HDI': [0.936, 0.901, 0.916, 0.926]
})
b_df

   Country    HDI
0  Germany  0.936
1   France  0.901
2  Belgium  0.916
3   Canada  0.926

In [202]:
inner_merged_df = a_df.merge(b_df, on='Country',how='inner')
inner_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916

In [203]:
left_merged_df = a_df.merge(b_df,on='Country', how = "left")
left_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN

In [204]:
right_merged_df = a_df.merge(b_df,on='Country', how = "right")
right_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3   Canada             NaN       NaN  0.926

In [205]:
outer_merged_df = a_df.merge(b_df, on='Country', how='outer')
outer_merged_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin  0.936
1   France            67.2     Paris  0.901
2  Belgium            11.4  Brussels  0.916
3  Finland             5.5  Helsinki    NaN
4   Canada             NaN       NaN  0.926

In [206]:
outer_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 4 columns):
Country           5 non-null object
Population (M)    4 non-null float64
Capital           4 non-null object
HDI               4 non-null float64
dtypes: float64(2), object(2)
memory usage: 200.0+ bytes

In [207]:
aa_df = a_df.set_index("Country")
aa_df

         Population (M)   Capital
Country
Germany            82.8    Berlin
France             67.2     Paris
Belgium            11.4  Brussels
Finland             5.5  Helsinki

In [208]:
bb_df = b_df.set_index("Country")
bb_df

           HDI
Country
Germany  0.936
France   0.901
Belgium  0.916
Canada   0.926

In [209]:
aa_df.join(bb_df)

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Finland             5.5  Helsinki    NaN

In [210]:
aa_df.join(bb_df, how='inner')

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916

In [211]:
aa_df.join(bb_df, how='right')

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Canada              NaN       NaN  0.926

In [212]:
aa_df.join(bb_df, how='left')

         Population (M)   Capital    HDI
Country
Germany            82.8    Berlin  0.936
France             67.2     Paris  0.901
Belgium            11.4  Brussels  0.916
Finland             5.5  Helsinki    NaN

In [213]:
aa_df.join(bb_df, how='outer')

         Population (M)   Capital    HDI
Country
Belgium            11.4  Brussels  0.916
Canada              NaN       NaN  0.926
Finland             5.5  Helsinki    NaN
France             67.2     Paris  0.901
Germany            82.8    Berlin  0.936

In [214]:
concat_df = pd.concat([a_df, b_df], axis="index", sort=False)
concat_df

   Country  Population (M)   Capital    HDI
0  Germany            82.8    Berlin    NaN
1   France            67.2     Paris    NaN
2  Belgium            11.4  Brussels    NaN
3  Finland             5.5  Helsinki    NaN
0  Germany             NaN       NaN  0.936
1   France             NaN       NaN  0.901
2  Belgium             NaN       NaN  0.916
3   Canada             NaN       NaN  0.926

In [215]:
countries_df = pd.read_csv('dictionary.csv')
countries_df.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [216]:
summer_df = pd.read_csv("summer.csv")
summer_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [217]:
summer_df = summer_df.rename(columns = {"Country": "Code"})
summer_df.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [218]:
winter_df = pd.read_csv('winter.csv')
winter_df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [219]:
winter_df.rename(columns={"Country": "Code"}, inplace=True)
winter_df.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [220]:
summer_countries_df = summer_df.merge(countries_df, on='Code', how='inner')
summer_countries_df.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.54346
1,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold,Hungary,9844686.0,12363.54346
2,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze,Hungary,9844686.0,12363.54346
3,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver,Hungary,9844686.0,12363.54346
4,1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze,Hungary,9844686.0,12363.54346

In [221]:
summer_countries_df = summer_df.merge(countries_df, on="Code")
summer_countries_df["Season"] = "Summer"
summer_countries_df.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.54346,Summer
1,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold,Hungary,9844686.0,12363.54346,Summer
2,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze,Hungary,9844686.0,12363.54346,Summer
3,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver,Hungary,9844686.0,12363.54346,Summer
4,1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze,Hungary,9844686.0,12363.54346,Summer

In [222]:
winter_countries_df = winter_df.merge(countries_df, on="Code")
winter_countries_df["Season"] = "Winter"
winter_countries_df.head()

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita,Season
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102,Winter
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102,Winter
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102,Winter
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze,France,66808385.0,36205.568102,Winter
4,1924,Chamonix,Curling,Curling,"ALDEERT, H.",FRA,Men,Curling,Bronze,France,66808385.0,36205.568102,Winter

In [223]:
all_df = pd.concat([summer_countries_df, winter_countries_df], sort=False)
all_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita,Season
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.543460,Summer
1,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold,Hungary,9844686.0,12363.543460,Summer
2,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze,Hungary,9844686.0,12363.543460,Summer
3,1896,Athens,Athletics,Athletics,"DANI, Nandor",HUN,Men,800M,Silver,Hungary,9844686.0,12363.543460,Summer
4,1896,Athens,Athletics,Athletics,"KELLNER, Gyula",HUN,Men,Marathon,Bronze,Hungary,9844686.0,12363.543460,Summer
5,1896,Athens,Tennis,Tennis,"TAPAVICZA, Momcsillo",HUN,Men,Singles,Bronze,Hungary,9844686.0,12363.543460,Summer
6,1900,Paris,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,1500M Freestyle,Bronze,Hungary,9844686.0,12363.543460,Summer
7,1900,Paris,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,200M Freestyle,Silver,Hungary,9844686.0,12363.543460,Summer
8,1900,Paris,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,4000M Freestyle,Silver,Hungary,9844686.0,12363.543460,Summer
9,1900,Paris,Athletics,Athletics,"BAUER, Rudolf",HUN,Men,Discus Throw,Gold,Hungary,9844686.0,12363.543460,Summer
10,1900,Paris,Athletics,Athletics,"GÖNCZY, Lajos",HUN,Men,High Jump,Bronze,Hungary,9844686.0,12363.543460,Summer
11,1904,St Louis,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.543460,Summer
12,1904,St Louis,Aquatics,Swimming,"KISS, Geza",HUN,Men,1500M Freestyle,Silver,Hungary,9844686.0,12363.543460,Summer
13,1904,St Louis,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,50Y Freestyle (45.72M),Gold,Hungary,9844686.0,12363.543460,Summer
14,1904,St Louis,Aquatics,Swimming,"KISS, Geza",HUN,Men,880Y Freestyle (804.66M),Bronze,Hungary,9844686.0,12363.543460,Summer
15,1908,London,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,100M Freestyle,Silver,Hungary,9844686.0,12363.543460,Summer
16,1908,London,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,4X200M Freestyle Relay,Silver,Hungary,9844686.0,12363.543460,Summer
17,1908,London,Aquatics,Swimming,"LAS TORRES, Béla",HUN,Men,4X200M Freestyle Relay,Silver,Hungary,9844686.0,12363.543460,Summer
18,1908,London,Aquatics,Swimming,"MUNK, Jozsef",HUN,Men,4X200M Freestyle Relay,Silver,Hungary,9844686.0,12363.543460,Summer
19,1908,London,Aquatics,Swimming,"ZACHAR, Imre",HUN,Men,4X200M Freestyle Relay,Silver,Hungary,9844686.0,12363.543460,Summer
20,1908,London,Athletics,Athletics,"BODOR, Ödön",HUN,Men,4X400M Relay,Bronze,Hungary,9844686.0,12363.543460,Summer
21,1908,London,Athletics,Athletics,"NAGY, Jozsef",HUN,Men,4X400M Relay,Bronze,Hungary,9844686.0,12363.543460,Summer
22,1908,London,Athletics,Athletics,"RACZ, G.",HUN,Men,4X400M Relay,Bronze,Hungary,9844686.0,12363.543460,Summer
23,1908,London,Athletics,Athletics,"SIMON, Pal",HUN,Men,4X400M Relay,Bronze,Hungary,9844686.0,12363.543460,Summer
24,1908,London,Athletics,Athletics,"SOMODY, Istvan",HUN,Men,High Jump,Silver,Hungary,9844686.0,12363.543460,Summer
25,1908,London,Fencing,Fencing,"FUCHS, Jenö",HUN,Men,Sabre Individual,Gold,Hungary,9844686.0,12363.543460,Summer
26,1908,London,Fencing,Fencing,"ZULAWSKY, Béla",HUN,Men,Sabre Individual,Silver,Hungary,9844686.0,12363.543460,Summer
27,1908,London,Fencing,Fencing,"FUCHS, Jenö",HUN,Men,Sabre Team,Gold,Hungary,9844686.0,12363.543460,Summer
28,1908,London,Fencing,Fencing,"GERDE, Oskar",HUN,Men,Sabre Team,Gold,Hungary,9844686.0,12363.543460,Summer
29,1908,London,Fencing,Fencing,"TOTH, Peter",HUN,Men,Sabre Team,Gold,Hungary,9844686.0,12363.543460,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,2010,Vancouver,Skiing,Alpine Skiing,"KOSTELIC, Ivica",CRO,Men,Slalom,Silver,Croatia,4224404.0,11535.829356,Winter
4797,2010,Vancouver,Skiing,Alpine Skiing,"KOSTELIC, Ivica",CRO,Men,Super Combined,Silver,Croatia,4224404.0,11535.829356,Winter
4798,2014,Sochi,Skiing,Alpine Skiing,"KOSTELIC, Ivica",CRO,Men,Super Combined,Silver,Croatia,4224404.0,11535.829356,Winter
4799,2002,Salt Lake City,Skiing,Cross Country Skiing,"MAE, Jaak",EST,Men,15KM,Bronze,Estonia,1311998.0,17118.504200,Winter
4800,2002,Salt Lake City,Skiing,Cross Country Skiing,"VEERPALU, Andrus",EST,Men,15KM,Gold,Estonia,1311998.0,17118.504200,Winter
4801,2002,Salt Lake City,Skiing,Cross Country Skiing,"VEERPALU, Andrus",EST,Men,50KM,Silver,Estonia,1311998.0,17118.504200,Winter
4802,2006,Turin,Skiing,Cross Country Skiing,"SMIGUN, Kristina",EST,Women,10KM,Gold,Estonia,1311998.0,17118.504200,Winter
4803,2006,Turin,Skiing,Cross Country Skiing,"VEERPALU, Andrus",EST,Men,15KM,Gold,Estonia,1311998.0,17118.504200,Winter
4804,2006,Turin,Skiing,Cross Country Skiing,"SMIGUN, Kristina",EST,Women,Combined 7.5 + 7.5Km Mass Start,Gold,Estonia,1311998.0,17118.504200,Winter
4805,2010,Vancouver,Skiing,Cross Country Skiing,"SMIGUN-VAEHI, Kristina",EST,Women,10KM,Silver,Estonia,1311998.0,17118.504200,Winter
4806,2006,Turin,Luge,Luge,"RUBENIS, Martins",LAT,Men,Singles,Bronze,Latvia,1978440.0,13648.547556,Winter
4807,2010,Vancouver,Bobsleigh,Skeleton,"DUKURS, Martins",LAT,Men,Individual,Silver,Latvia,1978440.0,13648.547556,Winter
4808,2010,Vancouver,Luge,Luge,"SICS, Andris",LAT,Men,Doubles,Silver,Latvia,1978440.0,13648.547556,Winter
4809,2010,Vancouver,Luge,Luge,"SICS, Juris",LAT,Men,Doubles,Silver,Latvia,1978440.0,13648.547556,Winter
4810,2014,Sochi,Bobsleigh,Bobsleigh,"DREISKENS, Daumants",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4811,2014,Sochi,Bobsleigh,Bobsleigh,"MELBARDIS, Oskars",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4812,2014,Sochi,Bobsleigh,Bobsleigh,"STRENGA, Janis",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4813,2014,Sochi,Bobsleigh,Bobsleigh,"VILKASTE, Arvis",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4814,2014,Sochi,Bobsleigh,Skeleton,"DUKURS, Martins",LAT,Men,Individual,Silver,Latvia,1978440.0,13648.547556,Winter
4815,2014,Sochi,Luge,Luge,"SICS, Andris",LAT,Men,Doubles,Bronze,Latvia,1978440.0,13648.547556,Winter
4816,2014,Sochi,Luge,Luge,"SICS, Juris",LAT,Men,Doubles,Bronze,Latvia,1978440.0,13648.547556,Winter
4817,2014,Sochi,Luge,Luge,"RUBENIS, Martins",LAT,Men,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4818,2014,Sochi,Luge,Luge,"SICS, Andris",LAT,Men,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4819,2014,Sochi,Luge,Luge,"SICS, Juris",LAT,Men,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4820,2014,Sochi,Luge,Luge,"TIRUMA, Eliza",LAT,Women,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4821,2006,Turin,Skiing,Snowboard,"ZIDEK, Radoslav",SVK,Men,Snowboard Cross,Silver,Slovakia,5424050.0,16088.277587,Winter
4822,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,10KM Pursuit,Silver,Slovakia,5424050.0,16088.277587,Winter
4823,2010,Vancouver,Biathlon,Biathlon,"HURAJT, Pavol",SVK,Men,15KM Mass Start,Bronze,Slovakia,5424050.0,16088.277587,Winter
4824,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,5424050.0,16088.277587,Winter
4825,2014,Sochi,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,5424050.0,16088.277587,Winter

In [224]:
len(all_df)

30568

In [225]:
all_df.sort_values("Year",ascending=False)

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita,Season
4825,2014,Sochi,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,5424050.0,16088.277587,Winter
4185,2014,Sochi,Skiing,Ski Jumping,"STOCH, Kamil",POL,Men,Large Hill,Gold,Poland,37999494.0,12554.547554,Winter
4176,2014,Sochi,Skating,Speed skating,"BRODKA, Zbigniew",POL,Men,1500M,Gold,Poland,37999494.0,12554.547554,Winter
4177,2014,Sochi,Skating,Speed skating,"BRODKA, Zbigniew",POL,Men,Team Pursuit,Bronze,Poland,37999494.0,12554.547554,Winter
4178,2014,Sochi,Skating,Speed skating,"NIEDZWIEDZKI, Konrad",POL,Men,Team Pursuit,Bronze,Poland,37999494.0,12554.547554,Winter
4179,2014,Sochi,Skating,Speed skating,"SZYMANSKI, Jan",POL,Men,Team Pursuit,Bronze,Poland,37999494.0,12554.547554,Winter
4180,2014,Sochi,Skating,Speed skating,"BACHLEDA-CURUS, Katarzyna",POL,Women,Team Pursuit,Silver,Poland,37999494.0,12554.547554,Winter
4181,2014,Sochi,Skating,Speed skating,"CZERWONKA, Natalia",POL,Women,Team Pursuit,Silver,Poland,37999494.0,12554.547554,Winter
4182,2014,Sochi,Skating,Speed skating,"WOZNIAK, Katarzyna",POL,Women,Team Pursuit,Silver,Poland,37999494.0,12554.547554,Winter
4183,2014,Sochi,Skating,Speed skating,"ZLOTKOWSKA, Luiza",POL,Women,Team Pursuit,Silver,Poland,37999494.0,12554.547554,Winter
4184,2014,Sochi,Skiing,Cross Country Skiing,"KOWALCZYK, Justyna",POL,Women,10KM,Gold,Poland,37999494.0,12554.547554,Winter
4186,2014,Sochi,Skiing,Ski Jumping,"STOCH, Kamil",POL,Men,Normal Hill,Gold,Poland,37999494.0,12554.547554,Winter
1988,2014,Sochi,Ice Hockey,Ice Hockey,"WICKENHEISER, Hayley",CAN,Women,Ice Hockey,Gold,Canada,35851774.0,43248.529909,Winter
1994,2014,Sochi,Skating,Figure skating,"RADFORD, Eric",CAN,Men,Team,Silver,Canada,35851774.0,43248.529909,Winter
1993,2014,Sochi,Skating,Figure skating,"MOSCOVITCH, Dylan",CAN,Men,Team,Silver,Canada,35851774.0,43248.529909,Winter
1992,2014,Sochi,Skating,Figure skating,"MOIR, Scott",CAN,Men,Team,Silver,Canada,35851774.0,43248.529909,Winter
1991,2014,Sochi,Skating,Figure skating,"CHAN, Patrick",CAN,Men,Team,Silver,Canada,35851774.0,43248.529909,Winter
134,2014,Sochi,Biathlon,Biathlon,"BEATRIX, Jean Guillaume",FRA,Men,12.5Km Pursuit,Bronze,France,66808385.0,36205.568102,Winter
135,2014,Sochi,Biathlon,Biathlon,"FOURCADE, Martin",FRA,Men,12.5Km Pursuit,Gold,France,66808385.0,36205.568102,Winter
136,2014,Sochi,Biathlon,Biathlon,"FOURCADE, Martin",FRA,Men,15KM Mass Start,Silver,France,66808385.0,36205.568102,Winter
137,2014,Sochi,Biathlon,Biathlon,"FOURCADE, Martin",FRA,Men,20KM,Gold,France,66808385.0,36205.568102,Winter
138,2014,Sochi,Skiing,Alpine Skiing,"MISSILLIER, Steve",FRA,Men,Giant Slalom,Silver,France,66808385.0,36205.568102,Winter
1995,2014,Sochi,Skating,Figure skating,"REYNOLDS, Kevin",CAN,Men,Team,Silver,Canada,35851774.0,43248.529909,Winter
1996,2014,Sochi,Skating,Figure skating,"VIRTUE, Tessa",CAN,Women,Ice Dancing,Silver,Canada,35851774.0,43248.529909,Winter
1997,2014,Sochi,Skating,Figure skating,"DUHAMEL, Meagan",CAN,Women,Team,Silver,Canada,35851774.0,43248.529909,Winter
1998,2014,Sochi,Skating,Figure skating,"MOORE-TOWERS, Kirsten",CAN,Women,Team,Silver,Canada,35851774.0,43248.529909,Winter
4153,2014,Sochi,Skiing,Ski Jumping,"ITO, Daiki",JPN,Men,Teams,Bronze,Japan,126958472.0,32477.215145,Winter
4154,2014,Sochi,Skiing,Ski Jumping,"KASAI, Noriaki",JPN,Men,Teams,Bronze,Japan,126958472.0,32477.215145,Winter
4155,2014,Sochi,Skiing,Ski Jumping,"SHIMIZU, Reruhi",JPN,Men,Teams,Bronze,Japan,126958472.0,32477.215145,Winter
4156,2014,Sochi,Skiing,Ski Jumping,"TAKEUCHI, Taku",JPN,Men,Teams,Bronze,Japan,126958472.0,32477.215145,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7265,1896,Athens,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,Individual Road Race,Bronze,United Kingdom,65138232.0,43875.969614,Summer
7266,1896,Athens,Cycling,Cycling Track,"KEEPING, Frank",GBR,Men,12-Hour Race,Silver,United Kingdom,65138232.0,43875.969614,Summer
1373,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze,United States,321418820.0,56115.718426,Summer
1276,1896,Athens,Wrestling,Wrestling Gre-R,"TSITAS, Georgios",GRE,Men,Open Event,Silver,Greece,10823732.0,18002.230578,Summer
1275,1896,Athens,Wrestling,Wrestling Gre-R,"CHRISTOPOULOS, Stephanos",GRE,Men,Open Event,Bronze,Greece,10823732.0,18002.230578,Summer
1274,1896,Athens,Weightlifting,Weightlifting,"VERSIS, Sotirios",GRE,Men,Heavyweight - Two Hand Lift,Bronze,Greece,10823732.0,18002.230578,Summer
8988,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,1KM Time Trial,Gold,France,66808385.0,36205.568102,Summer
8989,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,Sprint Indivual,Bronze,France,66808385.0,36205.568102,Summer
8990,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,Sprint Indivual,Gold,France,66808385.0,36205.568102,Summer
8991,1896,Athens,Fencing,Fencing,"GRAVELOTTE, Eugène-Henri",FRA,Men,Foil Individual,Gold,France,66808385.0,36205.568102,Summer
8992,1896,Athens,Fencing,Fencing,"CALLOT, Henri",FRA,Men,Foil Individual,Silver,France,66808385.0,36205.568102,Summer
8993,1896,Athens,Fencing,Fencing,"PERRONNET, Maurice",FRA,Men,"Foil, Masters",Silver,France,66808385.0,36205.568102,Summer
1257,1896,Athens,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"Team, Parallel Bars",Bronze,Greece,10823732.0,18002.230578,Summer
1258,1896,Athens,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"Team, Parallel Bars",Silver,Greece,10823732.0,18002.230578,Summer
1259,1896,Athens,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"Team, Parallel Bars",Silver,Greece,10823732.0,18002.230578,Summer
1260,1896,Athens,Gymnastics,Artistic G.,"PERSAKIS, Petros",GRE,Men,"Team, Parallel Bars",Silver,Greece,10823732.0,18002.230578,Summer
1261,1896,Athens,Gymnastics,Artistic G.,"XENAKIS, Thomasios",GRE,Men,"Team, Parallel Bars",Silver,Greece,10823732.0,18002.230578,Summer
1262,1896,Athens,Shooting,Shooting,"MORAKIS, Nikolaos",GRE,Men,25M Army Pistol,Bronze,Greece,10823732.0,18002.230578,Summer
1263,1896,Athens,Shooting,Shooting,"PHRANGOUDIS, Joannis",GRE,Men,25M Rapid Fire Pistol (60 Shots),Gold,Greece,10823732.0,18002.230578,Summer
1264,1896,Athens,Shooting,Shooting,"ORPHANIDIS, Georgios",GRE,Men,25M Rapid Fire Pistol (60 Shots),Silver,Greece,10823732.0,18002.230578,Summer
1265,1896,Athens,Shooting,Shooting,"PHRANGOUDIS, Joannis",GRE,Men,50M Pistol (60 Shots),Bronze,Greece,10823732.0,18002.230578,Summer
1266,1896,Athens,Shooting,Shooting,"TRIKUPIS, Nicolaos",GRE,Men,"Army Rifle, 200M",Bronze,Greece,10823732.0,18002.230578,Summer
1267,1896,Athens,Shooting,Shooting,"KARASEVDAS, Pantelis",GRE,Men,"Army Rifle, 200M",Gold,Greece,10823732.0,18002.230578,Summer
1268,1896,Athens,Shooting,Shooting,"PAVLIDIS, Pavlos",GRE,Men,"Army Rifle, 200M",Silver,Greece,10823732.0,18002.230578,Summer
1269,1896,Athens,Shooting,Shooting,"ORPHANIDIS, Georgios",GRE,Men,"Army Rifle, 300M",Gold,Greece,10823732.0,18002.230578,Summer
1270,1896,Athens,Shooting,Shooting,"PHRANGOUDIS, Joannis",GRE,Men,"Army Rifle, 300M",Silver,Greece,10823732.0,18002.230578,Summer
1271,1896,Athens,Tennis,Tennis,"PASPATIS, Konstantinos",GRE,Men,Singles,Bronze,Greece,10823732.0,18002.230578,Summer
1272,1896,Athens,Tennis,Tennis,"KASDAGLIS, Dionysios",GRE,Men,Singles,Silver,Greece,10823732.0,18002.230578,Summer
1273,1896,Athens,Weightlifting,Weightlifting,"NIKOLOPOULOS, Alexandros",GRE,Men,Heavyweight - One Hand Lift,Bronze,Greece,10823732.0,18002.230578,Summer
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.543460,Summer

In [226]:
all_recent_df = all_df[all_df["Year"]>=1984]
all_recent_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita,Season
801,1988,Seoul,Aquatics,Swimming,"EGERSZEGI, Krisztina",HUN,Women,100M Backstroke,Silver,Hungary,9844686.0,12363.543460,Summer
802,1988,Seoul,Aquatics,Swimming,"GUTTLER, Karoly",HUN,Men,100M Breaststroke,Silver,Hungary,9844686.0,12363.543460,Summer
803,1988,Seoul,Aquatics,Swimming,"EGERSZEGI, Krisztina",HUN,Women,200M Backstroke,Gold,Hungary,9844686.0,12363.543460,Summer
804,1988,Seoul,Aquatics,Swimming,"SZABO, Jozsef",HUN,Men,200M Breaststroke,Gold,Hungary,9844686.0,12363.543460,Summer
805,1988,Seoul,Aquatics,Swimming,"DARNYI, Tamas",HUN,Men,200M Individual Medley,Gold,Hungary,9844686.0,12363.543460,Summer
806,1988,Seoul,Aquatics,Swimming,"DARNYI, Tamas",HUN,Men,400M Individual Medley,Gold,Hungary,9844686.0,12363.543460,Summer
807,1988,Seoul,Boxing,Boxing,"ISASZEGI, Robert",HUN,Men,- 48KG (Light-Flyweight),Bronze,Hungary,9844686.0,12363.543460,Summer
808,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"GYULAY, Zsolt",HUN,Men,K-1 500M (Kayak Single),Gold,Hungary,9844686.0,12363.543460,Summer
809,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"ABRAHAM, Attila",HUN,Men,K-2 500M (Kayak Double),Bronze,Hungary,9844686.0,12363.543460,Summer
810,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"CSIPES, Ferenc",HUN,Men,K-2 500M (Kayak Double),Bronze,Hungary,9844686.0,12363.543460,Summer
811,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"ABRAHAM, Attila",HUN,Men,K-4 1000M (Kayak Four),Gold,Hungary,9844686.0,12363.543460,Summer
812,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"CSIPES, Ferenc",HUN,Men,K-4 1000M (Kayak Four),Gold,Hungary,9844686.0,12363.543460,Summer
813,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"GYULAY, Zsolt",HUN,Men,K-4 1000M (Kayak Four),Gold,Hungary,9844686.0,12363.543460,Summer
814,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"HODOSI, Sandor",HUN,Men,K-4 1000M (Kayak Four),Gold,Hungary,9844686.0,12363.543460,Summer
815,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"GECZI, Erika",HUN,Women,K-4 500M (Kayak Four),Silver,Hungary,9844686.0,12363.543460,Summer
816,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"KOBAN, Rita",HUN,Women,K-4 500M (Kayak Four),Silver,Hungary,9844686.0,12363.543460,Summer
817,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"MESZAROS, Erika",HUN,Women,K-4 500M (Kayak Four),Silver,Hungary,9844686.0,12363.543460,Summer
818,1988,Seoul,Canoe / Kayak,Canoe / Kayak F,"RAKUSZ, Eva",HUN,Women,K-4 500M (Kayak Four),Silver,Hungary,9844686.0,12363.543460,Summer
819,1988,Seoul,Fencing,Fencing,"BUSA, Istvan",HUN,Men,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
820,1988,Seoul,Fencing,Fencing,"ERSEK, Zsolt",HUN,Men,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
821,1988,Seoul,Fencing,Fencing,"GATAI, Robert",HUN,Men,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
822,1988,Seoul,Fencing,Fencing,"SZEKERES, Pal",HUN,Men,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
823,1988,Seoul,Fencing,Fencing,"SZELEI, Istvan",HUN,Men,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
824,1988,Seoul,Fencing,Fencing,"JANOSI-NEMETH, Zsuzsanna",HUN,Women,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
825,1988,Seoul,Fencing,Fencing,"KOVACS, Edit",HUN,Women,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
826,1988,Seoul,Fencing,Fencing,"STEFANEK, Gertrud",HUN,Women,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
827,1988,Seoul,Fencing,Fencing,"SZOCS, Zsuzsa",HUN,Women,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
828,1988,Seoul,Fencing,Fencing,"TUSCHAK, Katalin",HUN,Women,Foil Team,Bronze,Hungary,9844686.0,12363.543460,Summer
829,1988,Seoul,Fencing,Fencing,"BUJDOSO, Imre",HUN,Men,Sabre Team,Gold,Hungary,9844686.0,12363.543460,Summer
830,1988,Seoul,Fencing,Fencing,"CSONGRADI, Laszlo",HUN,Men,Sabre Team,Gold,Hungary,9844686.0,12363.543460,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,2010,Vancouver,Skiing,Alpine Skiing,"KOSTELIC, Ivica",CRO,Men,Slalom,Silver,Croatia,4224404.0,11535.829356,Winter
4797,2010,Vancouver,Skiing,Alpine Skiing,"KOSTELIC, Ivica",CRO,Men,Super Combined,Silver,Croatia,4224404.0,11535.829356,Winter
4798,2014,Sochi,Skiing,Alpine Skiing,"KOSTELIC, Ivica",CRO,Men,Super Combined,Silver,Croatia,4224404.0,11535.829356,Winter
4799,2002,Salt Lake City,Skiing,Cross Country Skiing,"MAE, Jaak",EST,Men,15KM,Bronze,Estonia,1311998.0,17118.504200,Winter
4800,2002,Salt Lake City,Skiing,Cross Country Skiing,"VEERPALU, Andrus",EST,Men,15KM,Gold,Estonia,1311998.0,17118.504200,Winter
4801,2002,Salt Lake City,Skiing,Cross Country Skiing,"VEERPALU, Andrus",EST,Men,50KM,Silver,Estonia,1311998.0,17118.504200,Winter
4802,2006,Turin,Skiing,Cross Country Skiing,"SMIGUN, Kristina",EST,Women,10KM,Gold,Estonia,1311998.0,17118.504200,Winter
4803,2006,Turin,Skiing,Cross Country Skiing,"VEERPALU, Andrus",EST,Men,15KM,Gold,Estonia,1311998.0,17118.504200,Winter
4804,2006,Turin,Skiing,Cross Country Skiing,"SMIGUN, Kristina",EST,Women,Combined 7.5 + 7.5Km Mass Start,Gold,Estonia,1311998.0,17118.504200,Winter
4805,2010,Vancouver,Skiing,Cross Country Skiing,"SMIGUN-VAEHI, Kristina",EST,Women,10KM,Silver,Estonia,1311998.0,17118.504200,Winter
4806,2006,Turin,Luge,Luge,"RUBENIS, Martins",LAT,Men,Singles,Bronze,Latvia,1978440.0,13648.547556,Winter
4807,2010,Vancouver,Bobsleigh,Skeleton,"DUKURS, Martins",LAT,Men,Individual,Silver,Latvia,1978440.0,13648.547556,Winter
4808,2010,Vancouver,Luge,Luge,"SICS, Andris",LAT,Men,Doubles,Silver,Latvia,1978440.0,13648.547556,Winter
4809,2010,Vancouver,Luge,Luge,"SICS, Juris",LAT,Men,Doubles,Silver,Latvia,1978440.0,13648.547556,Winter
4810,2014,Sochi,Bobsleigh,Bobsleigh,"DREISKENS, Daumants",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4811,2014,Sochi,Bobsleigh,Bobsleigh,"MELBARDIS, Oskars",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4812,2014,Sochi,Bobsleigh,Bobsleigh,"STRENGA, Janis",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4813,2014,Sochi,Bobsleigh,Bobsleigh,"VILKASTE, Arvis",LAT,Men,Four-Man,Silver,Latvia,1978440.0,13648.547556,Winter
4814,2014,Sochi,Bobsleigh,Skeleton,"DUKURS, Martins",LAT,Men,Individual,Silver,Latvia,1978440.0,13648.547556,Winter
4815,2014,Sochi,Luge,Luge,"SICS, Andris",LAT,Men,Doubles,Bronze,Latvia,1978440.0,13648.547556,Winter
4816,2014,Sochi,Luge,Luge,"SICS, Juris",LAT,Men,Doubles,Bronze,Latvia,1978440.0,13648.547556,Winter
4817,2014,Sochi,Luge,Luge,"RUBENIS, Martins",LAT,Men,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4818,2014,Sochi,Luge,Luge,"SICS, Andris",LAT,Men,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4819,2014,Sochi,Luge,Luge,"SICS, Juris",LAT,Men,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4820,2014,Sochi,Luge,Luge,"TIRUMA, Eliza",LAT,Women,Mixed Relay,Bronze,Latvia,1978440.0,13648.547556,Winter
4821,2006,Turin,Skiing,Snowboard,"ZIDEK, Radoslav",SVK,Men,Snowboard Cross,Silver,Slovakia,5424050.0,16088.277587,Winter
4822,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,10KM Pursuit,Silver,Slovakia,5424050.0,16088.277587,Winter
4823,2010,Vancouver,Biathlon,Biathlon,"HURAJT, Pavol",SVK,Men,15KM Mass Start,Bronze,Slovakia,5424050.0,16088.277587,Winter
4824,2010,Vancouver,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,5424050.0,16088.277587,Winter
4825,2014,Sochi,Biathlon,Biathlon,"KUZMINA, Anastazia",SVK,Women,7.5KM,Gold,Slovakia,5424050.0,16088.277587,Winter

In [227]:
all_top_10_df = all_recent_df.groupby(["Country"])
all_top_10_df

In [228]:
all_top_10_df= all_top_10_df[["Medal"]].count()

In [229]:
all_top_10_df.sort_values("Medal",ascending=False).head(10)

               Medal
Country
United States   2472
Germany         1112
Russia          1031
Australia        891
China            889
Canada           801
Italy            632
Korea, South     587
France           587
Netherlands      563

In [ ]:
plo